/* FONTS */

@font-face {
  font-family: gtAlpinaRegular;
  src: url(gt-alpina/gt-alpina-regular.otf);
}

@font-face {
  font-family: gtAlpinaRegularLight;
  src: url(gt-alpina/gt-alpina-regular-light.otf);
}

@font-face {
  font-family: Coolvetica;
  src: url(coolvetica/coolvetica\ rg.otf);
}

@font-face {
  font-family: Coolvetica-Italic;
  src: url(coolvetica/coolvetica\ rg\ it.otf);
}

@font-face {
  font-family: Mont;
  src: url(mont/Mont-HeavyDEMO.otf);
}

body {
  font-family: Arial, sans-serif;
  margin: 20px;
  line-height: 1.6;
  background-color: #f9f9f9;
}

h1, h2 {
  color: #2c3e50;
}

#expert-topics {
  background-color: #e3f2fd;
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;
}

img {
  display: block;
  margin: 15px 0;
  max-width: 100%;
}

