/* FONTS */

@font-face {
  font-family: gtAlpinaRegular;
  src: url(gt-alpina/gt-alpina-regular.otf);
}

@font-face {
  font-family: gtAlpinaRegularLight;
  src: url(gt-alpina/gt-alpina-regular-light.otf);
}

@font-face {
  font-family: Coolvetica;
  src: url(coolvetica/coolvetica\ rg.otf);
}

@font-face {
  font-family: Coolvetica-Italic;
  src: url(coolvetica/coolvetica\ rg\ it.otf);
}

@font-face {
  font-family: Mont;
  src: url(mont/Mont-HeavyDEMO.otf);
}

  body {
    background-color: #f2f2ea;
  }


  header {
    width: 100%;
    height: 50px;
    background-color: #d8412dff;
    display: flex;
    text-align: center;
    font-family: gtAlpinaRegular;
  }
  
  
  nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  
  main {
    padding: 2em;
  }
  
  footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 1em;
    margin-top: 20px;
  }
  
